/**
 * Base Variables
 */

@font-face {
    font-family: 'League Spartan';
    src: url('leaguespartan-bold.eot');
    src: url('leaguespartan-bold.eot?#iefix') format('embedded-opentype'),
         url('leaguespartan-bold.woff2') format('woff2'),
         url('leaguespartan-bold.woff') format('woff'),
         url('leaguespartan-bold.ttf') format('truetype'),
         url('leaguespartan-bold.svg#league_spartanbold') format('svg');
    font-weight: bold;
    font-style: normal;

}



$font-header: 'League Spartan', serif;
$font-body: 'League Spartan', serif;
$font-post: 'Lora', serif;

$color-alpha: rgba(151, 151, 151,0.5);
$color-alpha--black: rgba(0, 0, 0, 0.3);
$color-alpha--light: #f5f3ef;

$color-black: #2A2E32;
$color-grey: #F7F7F7;
$color-white: #fff;

$fontSize-double: 3em;
$fontSize-standard: 1em;
$fontSize-half: 0.75em;
$fontSize-third: 0.5em;


$padding-double: 6em;
$padding-standard: 3em;
$padding-half: 1.5em;
$padding-third: 0.75em;

$mq-xs: 20em;
$mq-sm: 30em;
$mq-md: 52em;
$mq-lg: 64em;
$mq-xl: 76.5em;
$mq-xxl: 114em;

/**
 * Base Settings/Overwrite Normalize
 */
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: $font-body;
  font-feature-settings: 'liga' 0;
  font-size: 100%;
  line-height: 1.6;

  @media (min-width: $mq-xs) {
    font-size: 100%;
  }

  @media (min-width: $mq-sm) {
    font-size: 105%;
  }

  @media (min-width: $mq-md) {
    font-size: 107.5%;
  }

  @media (min-width: $mq-lg) {
    font-size: 110%;
  }

  @media (min-width: $mq-xl) {
    font-size: 115%;
  }

  @media (min-width: $mq-xxl) {
    font-size: 125%;
  }
}

h1, h2, h3 {
  margin: 0;
  font-family: $font-header;
}

h1 {
  font-size: $fontSize-standard;

}

h3{
  font-size: $fontSize-half;
}

p {
  font-size: $fontSize-third;
  letter-spacing: .1em;
  margin: 0 0 0.75em;
}

a {
  color: $color-black;
  text-decoration: none;
  transition: color 0.4s ease-in-out;
  cursor: pointer;

  &:hover,
  &:active,
  &:focus {
    color: $color-alpha;
  }
}

hr{
  border-style: none;
  padding: 0 0;
  margin: auto;
  height: 3px;
  width: 90%;
  background-color: $color-black;
  opacity: .2;
}

figure {
  margin: 0;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
}

ol, ul {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

/**
 * Text Selection
 */
::selection {
  color: $color-white;
  background-color: $color-alpha;
  text-shadow: none;
}
